//## Variables

//** Colors
$default: 	   #ffffff;
$primary: 	   #eeeeee;
$secondary:    #f9f9f9;

$gray-base:	    #000000;
$gray: 	  	    #222b31;
$gray-light:    #808080;
$gray-lighter:  #bbbabe;
$gray-lightest: #cccccc;

$salmon:       #fcf2f2;


$spacing: 60px;

//** Typography
$primary-font:   'SFCompactText', sans-serif;
$secondary-font: 'SFCompactText', monospace;


//** UI
$border-radius-base: 5px;


